<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Prestamo</title>
</head>
<body>
    {% include  'navbar.html' %}
    <form action="" method = "POST"> {% csrf_token %}
        <table>
            {{prestamo.as_table}}
        </table>
        <button class="btn btn-primary" type="submit">Registrar</button>
    </form>
</body>
</html>